# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Strapi build & cache
.strapi/
build/
dist/
.tmp/

# Environment variables
.env

# SQLite database (if used)
*.db
*.sqlite
.strapi-updater.json
